/* Resetando margens e preenchimento padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: darkturquoise; /* Cor de fundo original */
    color: #333;
}

/* Estilo para o main */
.corpo-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Cabeçalho */
.cabecalho-login {
    text-align: center;
    margin-bottom: 20px;
}

.cabecalho-login h1 {
    font-size: 36px;
    color: darkviolet; /* Cor roxa para o título */
}

/* Estilo do formulário */
.login-container {
    display: flex;
    flex-direction: column; /* Tudo agora está na coluna */
    justify-content: center;
    align-items: center;
    background-color: white; /* Fundo branco para o quadrado */
    padding: 20px; /* Espaçamento dentro do quadrado */
    border-radius: 8px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilo dos labels */
.txt-user, .txt-senha {
    margin: 10px;
    font-size: 14px;
    color: darkviolet; /* Cor roxa para os labels */
}

/* Estilo para os inputs */
input[type="text"], input[type="password"] {
    width: 300px; /* Tamanho fixo do input */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid darkturquoise; /* Borda amarela */
    border-radius: 4px;
    font-size: 16px;
    outline-color: darkviolet; /* Outline roxo */
}

/* Estilo para os botões */
button:hover {
    background-color: rgb(181, 136, 201); /* Tom claro de roxo para hover */
}

.entrar {
    background-color: darkviolet; /* Cor roxa para o botão */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    width: 140px;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilo para o botão "Cadastrar" */
.cadastrar {
    background-color: darkviolet; /* Cor roxa para o botão de cadastrar */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    width: 140px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px; /* Distância menor entre os botões */
}

.cadastrar a{
    text-decoration: none;
    color: white;
}
.login-container-buttons{
    display: flex;/* Estilo da mensagem de cadastro */
    gap: 20px;
}

.mensagem-cadastro {
    color: darkviolet; /* Cor roxa para a mensagem */
    font-size: 16px;
    margin-top: 10px;
}

/* Estilo do link dentro da mensagem */
.mensagem-cadastro a {
    color: darkviolet;
    text-decoration: none;
    font-weight: 700;
}

.mensagem-cadastro a:hover {
    text-decoration: underline;
}

.formulario-login{
    display: flex;
    flex-direction: column;
}
