<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/pag1.css')}}">
    <title>Página Principal</title>
</head>

<body>
    <main class="corpo">
        <header class="cabecalho">
            <h1>FEEDBACK</h1>
        </header>

        <div class="formulario-container">
            <form action="/post/mensagem" method="POST" class="formulario01">
                <label class="txt-user txt">
                    Usuario
                    <input type="text" name="usuario" id="usuario">
                </label>

                <label class="txt-coment txt">
                    Comentarios
                    <input type="text" name="mensagem" id="mensagem">
                </label>

                <button type="submit">ENVIAR</button>
            </form>

            <div class="comentarios">
                <h2>Comentários Enviados</h2>

                {%for mensagem in mensagens%}
                <div class="comentarios-list">
                    <strong>{{mensagem.usuario}} ({{mensagem.data_hora}})</strong>
                    <p>{{mensagem.mensagem}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>
